<footer class="text-center py-5">
    <div class="container py-md-3">
        <!-- logo -->
        <h2 class="logo2 text-center">
            <a href="index.html">
                <span class="fas fa-om yoga-icon"></span>Amanacer Yoga
            </a>
        </h2>
        <div class="contact-left-footer mt-4">
            <ul>
                <li class="mx-4">
                    <p><span class="fa fa-phone mr-2"></span>+34 722 419 184</p>
                </li>
                <li>
                    <p class="text-wh">
                        <span class="fa fa-envelope-open mr-2"></span>
                        <a href="mailto:charocalima@gmail.com">charocalima@gmail.com</a>
                    </p>
                </li>
                <li class="mx-4">
                    <p class="text-wh">
                        <span class="fab fa-facebook-square mr-2"></span>
                        <a href="https://www.facebook.com/Proyecto-Amanacer-281296729244353">Proyecto Amanacer</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="footercopy-social my-4">
            <ul>
                <!--                <li class="mx-2">-->
                <!--                    <a href="https://www.facebook.com/Proyecto-Amanacer-281296729244353">-->
                <!--                        <span class="fab fa-facebook"></span>-->
                <!--                    </a>-->
                <!--                </li>-->
                <!--                <li class="mx-2">-->
                <!--                    <a href="#">-->
                <!--                        <span class="fab fa-twitter-square"></span>-->
                <!--                    </a>-->
                <!--                </li>-->
                <!--                <li class="mx-2">-->
                <!--                    <a href="#">-->
                <!--                        <span class="fab fa-google-plus-square"></span>-->
                <!--                    </a>-->
                <!--                </li>-->
                <!--                <li class="mx-2">-->
                <!--                    <a href="#">-->
                <!--                        <span class="fab fa-linkedin"></span>-->
                <!--                    </a>-->
                <!--                </li>-->
                <!--                <li class="ml-2">-->
                <!--                    <a href="#">-->
                <!--                        <span class="fab fa-pinterest-square"></span>-->
                <!--                    </a>-->
                <!--                </li>-->
            </ul>
        </div>
        <!-- //social icons -->
        <!-- copyright -->
        <!--        <div class="copy-right-sec text-center">-->
        <!--          <p class="text-da">© 2019 Agro Harvest. All rights reserved.</p>-->
        <!--        </div>-->
        <!-- //copyright -->
    </div>
</footer>